numpy>=1.19.5
scipy>=1.7.0
matplotlib>=3.4.0
torch>=1.9.0
torchaudio>=0.9.0
torchvision>=0.10.0
torchinfo>=0.1.5
librosa>=0.8.1
soundfile>=0.10.3
scikit-learn>=0.24.2
speechbrain>=0.5.12
warmup_scheduler>=0.3
einops>=0.4.1
opencv-python>=4.5.0
h5py>=3.1.0
tqdm>=4.60.0
ipython 